<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jspblog.mapper.PostMapper">

    <resultMap id="post" type="com.example.jspblog.dto.Post">
        <id property="id" column="id"/>
        <id property="memberId" column="member_id"/>
        <id property="title" column="title"/>
        <id property="content" column="content"/>
        <id property="likeCount" column="like_count"/>
        <id property="commentCount" column="comment_count"/>
        <id property="created" column="created"/>
        <id property="updated" column="updated"/>
        <id property="deleted" column="deleted"/>
        <association property="writer" javaType="com.example.jspblog.dto.Member">
            <id property="id" column="member_id"/>
            <id property="name" column="name"/>
            <id property="email" column="email"/>
        </association>
    </resultMap>


    <select id="selectAll" resultMap="post">
        SELECT
            p.id, p.member_id, p.title, p.content, p.like_count, p.created, p.updated, p.deleted,
            m.name,
            m.email,
            count(c.id) as comment_count
        FROM post p inner join member m on p.member_id = m.id
                    left join comment c on p.id = c.post_id
        group by p.id
        ORDER BY p.id DESC;
    </select>

</mapper>
